@keyframes shimmer {
	0% {
		opacity: 1;
		mask-position: 0% 1000px;
		-webkit-mask-position: 0% 1000px;
	}
	100% {
		opacity: 1;
		mask-position: 0% -1000px;
		-webkit-mask-position: 0% -1000px;
	}
}

.animated-background {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	animation-timing-function: linear;
	mask-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2) 33%,
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0.2) 66%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2) 33%,
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0.2) 66%
	);
}
